@{
    ViewBag.Title = "Confirmação de Recuperação de Senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Agora verifique seu e-mail e siga as instruções para recuperar sua senha.
    </p>
</div>
	
