@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <div class="row ">
        <div class="col-md-8">
            <section>
                <h1>Bem vindos!</h1>
                <p>Este é o novo sistema da Bobson Latin America...</p>
                <p>Se você possui alguuma necessidade que precisa ser incluida no sistema, tem algum sugestão de melhorias ou quiser nos informar algum problema, clique no botão abaixo.</p>
                <br />
                <br />
                <p><a class="btn btn-success btn-lg" href="mailto:aros.bobson@gmail.com" role="button">Clique aqui e fale com o a gente!</a></p>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <img class="img-responsive" alt="BOBSON Latam" width="400" src="~/Images/bobson.png" />
            </section>
        </div>
    </div>
</div>

