@{
    Layout = null;
}
<br />
<footer class="container-fluid navbar-default">
    <br />
    <h6 class="text-muted" >
        <em>Iniciamos operações em 1999 em São Paulo com a finalidade de distribuir com exclusividade para o Brasil e América Latina os produtos da Companhia Bobson Internacional. Esta empresa, multinacional, uma vasta linha de produtos para higiene e limpeza de ambientes. Seus principais produtos são aparelhos neutralizadores de  odores, papeleiras automáticas, saboneteiras, tapetes profissionais e acessórios de limpeza, sendo hoje líder mundial na área de odorização de ambientes.</em>
    </h6>
    <br />
</footer>
